---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Yet another blog!</h2>
									</header>
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>Featured posts</h2>
						<span class="byline">from the recents</span>
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<a href="{{ site.url }}/blog/2017/03/11/terraform-for-instances-with-ebs.html" class="image feature"><img src="{{ site.url }}/assets/images/blog/terraform.png" alt="" ></a>
							<p>A few words on provisionin AWS instance with EBS volumes attached with Terraform.</p>
						</section>
                                                <section class="4u">
                                                    <p>&nbsp;</p>
                                                </section>
						<section class="4u">
							<a href="{{ site.url }}/blog/2017/03/08/russian-spell-check-vim.html" class="image feature"><img src="{{ site.url }}/assets/images/blog/vim.png" alt=""></a>
							<p>How to add Russian spell check to the VIM.</p>
						</section>

					</div>
				</section>
			</div>

	{{ content }}
