---
title: Checkout
layout: main
---

<!-- Main -->
	<div id="main" class="wrapper style1">
		<div class="container">
			<section>
				<div class="10u -1u">
					<header class="major">
						<h2>Checkout</h2>
						<span class="byline">Interesting things, I've found recently</span>
					</header>
					<ul class="style">
						{% for post in site.posts offset: 0 limit: 4 %}
                                                  {% if post.categories contains 'read' %}
						<li>
							<a href="{{ site.url }}/{{ post.url }}"><h2>{{ post.title }}</h2></a>
                                                        {% if post.featured %}
        							<img src="{{ site.url }}/assets/{{ post.featured }}" alt="">
                                                        {% endif %}
							{{ post.excerpt }}
						</li>
                                                  {% endif %}
						{% endfor %}
					</ul>
				</div>
			</section>
		</div>
	</div>
